@charset "UTF-8";

aside,
div.container > div.workspace > div.aside > div.box > div.phone,
div.container > div.workspace > div.aside > div.box > div.header {
	width : 100%;
	min-width : 14em;
	padding : 0.5rem 0;
	background-color : rgba(252, 252, 252, 1);
	}
	
div.container > div.workspace > div.aside > div.box > div.header > a.logo {
	width : 9em;
	margin : 0 auto;
	}
	
div.container > div.workspace > div.aside > div.box > div.header > a.logo > span {
	width : 100%;
	height : 100%;
	background-repeat : no-repeat;
	background-size : contain;
	background-position : 50% 50%;
	background-image : url("../img/logo.svg?091020191529");
	}
	
div.container > div.workspace > div.aside > div.box > div.phone {
	position : absolute;
	bottom : 0;
	left : 0;
	z-index : 10;
	}
	
div.container > div.workspace > div.aside > div.box > div.phone > a {
	position : relative;
	width : 9em;
	height : 2.5em;
	margin : 0.5rem auto 0 auto;
	text-decoration : none;
	border-radius : 1.25em;
	background-color : rgba(105, 155, 245, 1);
	color : rgba(255, 255, 255, 1);
	overflow : hidden;
	}

div.container > div.workspace > div.aside > div.box > div.header > a.logo,
div.container > div.workspace > div.aside > div.box > div.header > a.logo > span,	
div.container > div.workspace > div.aside > div.box > div.phone > a,
div.container > div.workspace > div.aside > div.box > div.phone > a > span {
	display : block;
	text-align : center;
	}
	
div.container > div.workspace > div.aside > div.box > div.phone > a > span {
	position : absolute;
	left : 0;
	top : calc(50% - 0.5em);
	z-index : 2;
	width : 100%;
	font-size : 0.8em;
	font-weight : 500;
	line-height : 1em;
	}	
	
div.container > div.workspace > div.aside > div.box > div.phone > a::before {
	position : absolute;
	top : calc(50% - 1.25em);
	left : calc(50% - 4.5em);
	z-index : 1;
	width : 100%;
	height : 100%;
	border-radius : 1.25em;
	background-color: rgba(50, 90, 150, 1);
	content : "";
	transform : scale(0);
	opacity : 0;
	transition : all .25s ease;
	}
	
div.container > div.workspace > div.aside > div.box > div.phone > a:hover::before {
	transform : scale(1);
	opacity : 1;
	}

aside > ul,
aside > ul > li > ul {
	width : 100%;
	padding : 0;
	margin : 0;
	list-style : none;
	}
	
aside > ul > li,	
aside > ul > li > ul > li {
	position : relative;
	}
	
aside > ul > li > a,
aside > ul > li > ul > li > a,
aside > ul > li > div,
aside > ul > li > ul > li > div {
	position : inherit;
	width : calc(9em + (100% - 9em)/2 + 2.5em);
	padding-left : 2.5em;
	padding-right : 2.5em;
	}
	
aside > ul > li > a > span > span,
aside > ul > li > div > span > span,
aside > ul > li > ul > li > a > span > span,
aside > ul > li > ul > li > div > span > span,
aside > ul > li > div > strong > span,
aside > ul > li > div > p > span {
	display : block;
	}
	
aside > ul > li > a > span > span,
aside > ul > li > div > span > span,
aside > ul > li > div > strong > span {
	font-size : 0.9em;
	line-height : 1.35em;
	}
	
aside > ul > li > ul > li > a > span > span,
aside > ul > li > ul > li > div > span > span,
aside > ul > li > div > p > span {
	font-size : 0.8em;
	line-height : 1.375em;
	}
	
aside > ul > li > a,
aside > ul > li > ul > li > a {
	display : block;
	text-decoration : none;
	color : rgba(180, 180, 180, 1);
	transition : color .25s ease;	
	}
	
aside > ul > li > a > span,
aside > ul > li > ul > li > a > span,
aside > ul > li > div > span,
aside > ul > li > ul > li > div > span,
aside > ul > li > div > strong,
aside > ul > li > ul > li > div > strong,
aside > ul > li > div > p {
	position : inherit;
	display : block;
	max-width : 9em;
	margin : 0 0 0 auto;
	}

aside > ul > li > strong,
aside > ul > li > a > span,
aside > ul > li > div > span,
aside > ul > li > div > strong,
aside > ul > li > div > p {	
	padding-top : 0.65em;
	padding-bottom : 0.65em;
	}
	
aside > ul > li > a > span.icon::after,
aside > ul > li > div > span.icon::after {
	position : absolute;
	top : 0;
	right : 100%;
	z-index : 1;
	width : 2.5em;
	background-repeat : no-repeat;
	background-size : 1em auto;
	background-position : 50% 50%;
	font-size : 1em;
	font-family : "icomoon" !important;
	text-align : center;
	line-height : 2.5em;
	}
	
aside > ul > li > a > span.icon.salt::after,
aside > ul > li > div > span.icon.salt::after {
	/* background-image : url("../img/salt.svg?141120191231"); */
	content : "\e900";
	}
	
aside > ul > li > a > span.icon.lamp::after,
aside > ul > li > div > span.icon.lamp::after {
	/* background-image : url("../img/lamp.svg?141120191231"); */
	content : "\e901";
	}
	
aside > ul > li > a + span,
aside > ul > li > div + span {
	position : absolute;
    top : 0;
    left : calc(9em + (100% - 9em)/2);
    z-index : 10;
    width : 2.5em;
    height : 2.5em;
    cursor : pointer;
	}
	
aside > ul > li > a + span::before,
aside > ul > li > a + span::after,
aside > ul > li > div + span::before,
aside > ul > li > div + span::after {
	position : absolute;
    top : calc(50% - 1px);
    z-index : 10;
    width : 0.5em;
    height : 2px;
    content : "";
    background-color : rgba(180, 180, 180, 1);
    transition : all .25s ease;
	}
	
aside > ul > li > a + span:hover::before,
aside > ul > li > a + span:hover::after,
aside > ul > li > div + span:hover::before,
aside > ul > li > div + span:hover::after {
    background-color : rgba(105, 155, 245, 1);
	}

aside > ul > li > a + span::before,
aside > ul > li > div + span::before {
   	right : calc(50% - 1px);
	}
	
aside > ul > li > a + span::after,
aside > ul > li > div + span::after {
	left : calc(50% - 1px);
	}

aside > ul > li > a + span::after,	
aside > ul > li.selected > a + span::before,
aside > ul > li > div + span::after,	
aside > ul > li.selected > div + span::before {
    transform : rotate(-35deg);
	}

aside > ul > li > a + span::before,	
aside > ul > li.selected > a + span::after,
aside > ul > li > div + span::before,	
aside > ul > li.selected > div + span::after {
    transform : rotate(35deg);
	}
	
aside > ul > li > ul {
	height : 0;
	overflow : hidden;
	}
	
aside > ul > li.selected > ul {
	height : 100%;
	}
	
aside > ul > li > ul > li > a > span,
aside > ul > li > ul > li > div > span {
	padding-top : 0.45em;
	padding-bottom : 0.45em;
	padding-left : 0.5rem;
	}
	
@media (min-width : 961px) {
	div.container > div.workspace > div.aside > div.box > div.header > a.logo {
		height : 4.5em;
		}
	}
	
@media (max-width : 960px) {
	div.container > div.workspace > div.aside > div.box > div.header {
		height : 0;
		padding : 0;
		display : none;
		}
	}