@charset "UTF-8";

footer {
	background-color: rgba(60, 66, 73, 1);
	padding : 0 1rem;
	}
	
footer > div {
	position : relative;
	max-width : 960px;
	margin : 0 auto;
	overflow : hidden;
	}
	
footer > div.copyright {
	padding : 0.5rem 0;
	}

footer,
footer > div > ul > li > a.phone,
footer > div > ul > li > a.mail::before,
footer > div > ul > li > a.mail > span::before,
footer > div > ul > li > ul > li > a > span {
	color : rgba(255, 255, 255, 1);
	}
	
footer > div > a,
footer > div > ul > li > a.mail,
footer > div > ul > li > ul > li > ol > li > a {
	color : rgba(144, 152, 162, 1);
	}
	
footer > div > a,
footer > div > ul > li > a.mail,
footer > div > ul > li > ul > li > ol > li > a,
footer > div > ul > li > ul > li > a > span {
	transition : all .3s ease;
	}

footer > div > a,
footer > div > ul > li > a.phone,
footer > div > ul > li > a.mail,	
footer > div > ul > li > ul > li > a,
footer > div > ul > li > ul > li > ol > li > a {
	text-decoration : none;
	}

footer > div > a:hover,
footer > div > ul > li > a.phone:hover > span,
footer > div > ul > li > a.mail:hover > span,
ol.social > li > a:hover,
footer > div > ul > li > ul > li > a:hover > span,
footer > div > ul > li > ul > li > ol > li > a:hover {
	color : rgba(105, 155, 245, 1);
	}
	
footer > div:first-child {
	border-bottom : solid 1px rgba(94, 99, 106, 1);
	}
	
footer > div > ul,
footer > div > ul > li > ul,
footer > div > ul > li > ul > li > ol {
	display : flex;
	flex-wrap : wrap;
	justify-content: space-between;
	width : 100%;
	margin : 0 auto;
	list-style : none;
	}
	
footer > div > ul,
footer > div > ul > li > ul {
	padding : 0;
	}
	
footer > div > ul > li {
	position : relative;
	padding-top : 1rem;
	padding-bottom : 0.5rem;
	}
	
footer > div > ul > li > a.logo,
footer > div > ul > li > a.logo > span,
footer > div > ul > li > a.phone,
footer > div > ul > li > a.phone > span,
footer > div > ul > li > a.mail,
footer > div > ul > li > a.mail > span,
ol.social > li > a {
	display : block;
	}
	
footer > div > ul > li > a.logo,
footer > div > ul > li > a.phone,
footer > div > ul > li > a.mail {
	width : 8.5em;
	margin : 0 auto;
	padding : 0 0 1em 0;
	}
	
footer > div > ul > li > a.logo {
	height : 3em;
	}
	
footer > div > ul > li > a.logo > span {
	position : relative;
	width : 100%;
	height : 100%;
	background-repeat : no-repeat;
	background-size : contain;
	background-position : 0 50%;
	background-image : url("../img/logo.footer.svg?091020191529");
	}
	
footer > div > ul > li > a.phone {
	font-weight : 600;
	font-family : "RobotoSlab", Arial, Tahoma, Verdana, sans-serif;
	white-space : nowrap;
	overflow : hidden;
	}
	
footer > div > ul > li > a.phone::before {
	display : block;
	font-weight : 300;
	font-family : "Roboto", Arial, Tahoma, Verdana, sans-serif;
	content : "Бесплатная консультация";
	white-space : nowrap;
	}
	
footer > div > ul > li > a.phone > span {
	font-size : 1em;
	transition : color .3s ease;	
	}

footer > div.copyright,
footer > div > ul > li > a.phone::before,	
footer > div > ul > li > a.mail > span {
	font-size : 0.7em;
	line-height : 1.45em;	
	}
	
footer > div > ul > li > a.mail {
	position : relative;
	padding-left : 1.5em;
	}
	
footer > div > ul > li > a.mail::before {
	position : absolute;
	left : 0;
	top : 0;
	z-index : 1;
	font-size : 1em;
	font-family : "icomoon" !important;
	text-align : center;
	content : "\e902";
	}
	
ol.social {
	display : flex;
	flex-wrap : wrap;
	justify-content : space-between;
	width : 8.5em;
	padding : 0 0 0.5em 0;
	margin : 0 auto;
	list-style : none;
	}
	
ol.social > li,
ol.social > li > a {
	width : 2.5em;
	height : 2.5em;
	}
	
ol.social > li {
	margin-bottom : 0.5em;
	}
	
ol.social > li:not(:last-child) {
	margin-right : 0.5em;
	}
	
ol.social > li > a {
	position : relative;
	border : solid 2px rgba(144, 152, 162, 1);
	color : rgba(144, 152, 162, 1);
	border-radius : 50%;
	transition : all .3s ease;
	}
	
ol.social > li > a:hover {
	border : solid 2px rgba(105, 155, 245, 1);
	}
	
ol.social > li > a::after {
	position : absolute;
	top : 50%;
    left : 50%;
	z-index : 2;
	font-family : "icomoon" !important;
	font-size : 1.25em;
	transform : translate(-50%, -50%);
	}
	
ol.social > li > a.instagram::after {
	content : "\e90b";
	}
	
ol.social > li > a.facebook::after {
	content : "\e908";
	}
	
ol.social > li > a.vk::after {
	content : "\e90e";
	}

footer > div > ul > li > ul > li > a {
	display : inline-block;
	}
	
footer > div > ul > li > ul > li > a > span {
	font-weight : 500;
	font-size : 0.8em;
	line-height : 1.375em;
	}

footer > div > ul > li > ul > li > a,	
footer > div > ul > li > ul > li > ol {
	padding : 0 0 0.7em 0;
	}
	
footer > div > ul > li > ul > li > ol > li {
	width : 100%;
	}
	
footer > div > ul > li > ul > li > ol > li > a > span {
	font-size : 0.7em;
	line-height : 2em;
	}

@media (min-width : 1201px) {
	footer > div > ul > li:first-child {
		flex : 1;
		}
	
	footer > div > ul > li:last-child {
		min-width : calc(8.5em + 1rem);
		padding-left : 1rem;
		}
		
	footer > div > ul > li:last-child::before {
		position : absolute;
		bottom : 0;
		left : 0;
		z-index : 1;
		width : 1px;
		height : calc(100% - 1rem);
		content : "";
		background-color : rgba(94, 99, 106, 1);
		}
		
	footer > div > ul > li > ul > li {
		width : 50%;
		min-width : 7em;
		padding-right : 1rem;
		}
	}
		
@media (min-width : 961px) and (max-width : 1200px) {
	footer > div > ul > li:first-child {
		flex : 1;
		}
	
	footer > div > ul > li:last-child {
		min-width : calc(8.5em + 1rem);
		padding-left : 1rem;
		}
		
	footer > div > ul > li:last-child::before {
		position : absolute;
		bottom : 0;
		left : 0;
		z-index : 1;
		width : 1px;
		height : calc(100% - 1rem);
		content : "";
		background-color : rgba(94, 99, 106, 1);
		}
		
	footer > div > ul > li > ul > li {
		width : 50%;
		min-width : 7em;
		padding-right : 1rem;
		}
	}

@media (min-width : 721px) and (max-width : 960px) {
	footer > div > ul > li:first-child {
		flex : 1;
		}
	
	footer > div > ul > li:last-child {
		min-width : calc(8.5em + 1rem);
		padding-left : 1rem;
		}
		
	footer > div > ul > li:last-child::before {
		position : absolute;
		bottom : 0;
		left : 0;
		z-index : 1;
		width : 1px;
		height : calc(100% - 1rem);
		content : "";
		background-color : rgba(94, 99, 106, 1);
		}
		
	footer > div > ul > li > ul > li {
		width : 50%;
		min-width : 7em;
		padding-right : 1rem;
		}
	}

@media (min-width : 481px) and (max-width : 720px) {
	footer > div > ul > li {
		width : 100%;
		}
		
	footer > div > ul > li:first-child {
		display : none;
		}
		
	footer > div > ul > li > ul > li {
		width : 50%;
		min-width : 7em;
		}
		
	footer > div > ul > li > ul > li:first-child {
		padding-right : 1rem;
		}
	}

@media (max-width : 480px) {
	footer > div > ul > li {
		width : 100%;
		}
		
	footer > div > ul > li:first-child {
		display : none;
		}
		
	footer > div > ul > li > ul > li {
		width : 100%;
		}
	}