@charset "UTF-8";

/* Кастомизация ВЕБ-формы -- начало */

div.form {
	left: -1rem;
	width: calc(100% + 2rem);
	padding: .5rem .5rem 0 1rem;
	background-color: rgba(242, 244, 246, 1);
	color: rgba(60, 66, 73, 1);
}

div.form:not(.success) > div > span,
div.form:not(.success) > div > blockquote {
	display: none !important;
}

div.form > form ul > li > div {
	background-color: rgba(255, 255, 255, 1);
}

div.form > form ul > li > div.accent {
	background-color: rgba(255, 255, 255, 0);
}

div.form > form li > div.choose::after,
div.form > form ul > li > div.required::after {
	color: rgba(60, 66, 73, .75);
}

div.form > form ul > li > div > input.error {
	border: 1px solid rgba(244, 86, 65, 1) !important;
}

div.form > form li > div > textarea,
div.form > form li > div > input {
	border: 1px solid rgba(161, 170, 179, 0);
	border-radius: 0;
	color: rgba(68, 68, 68, 1);
}

div.form > form li > div > textarea:focus,
div.form > form li > div > input:focus {
	border: 1px solid rgba(60, 66, 73, 0.25);
}

div.form > div > blockquote,
div.form > form li > div > textarea + span,
div.form > form li > div > input[type=text] + span,
div.form > form li > div > input[type=email] + span,
div.form > form li > div > input[type=tel] + span,
div.form > form li > div.consent {
	color: rgba(60, 66, 73, 0.5);
}

div.form > form li > div > button {
	background-color: rgba(105, 155, 245, 0.75);
	color: rgba(255, 255, 255, 1);
	font-weight: 600;
	border-radius: 1.5625em;
	transition: all .3s ease;
}

div.form > form li > div > button.active {
	background-color: rgba(105, 155, 245, 1);
}

div.form > form li > div > button.active::before,
div.form > form li > div > button::after {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 1.5625em;
}

div.form > form li > div > button.active::before {
	top: calc(50% - 100%/2);
	left: calc(50% - 100%/2);
	z-index: 1;
	background-color: rgba(50, 90, 150, 0.5);
	content: "";
	transform: scale(0);
	opacity: 0;
	transition: all .3s ease;
}

div.form > form li > div > button::after {
	top: 0;
	left: 0;
	z-index: 2;
	content: "Отправить";
}

div.form > form li > div > button.active:hover::before {
	transform: scale(1);
	opacity: 1;
}

div.form > form li > div.consent > span.checkbox {
	border: 1px solid rgba(105, 155, 245, 1);
	background-color: rgba(105, 155, 245, 0);
	transition: all .3s ease;
}

div.form > form li > div.consent > span.checkbox.checked {
	background-color: rgba(105, 155, 245, 1);
}

/* Кастомизация ВЕБ-формы -- конец */

/* ВЕБ-форма -- начало */

div.form > div {
	padding-right: .5rem;
}

div.form > div,
div.form > form {
	margin: 0 auto;
}

div.form > div > span,
div.form > div > blockquote {
	padding: 0 0 .5rem 0;
	text-align: center;
}

div.form.success > form,
div.form.success > div > span,
div.form.success > div > blockquote,
div.form:not(.success) > div > span + span,
div.form:not(.success) > div > blockquote + blockquote {
	display: none;
}

div.form:not(.success) > form,
div.form:not(.success) > div > span,
div.form:not(.success) > div > blockquote,
div.form.success > div > span + span,
div.form.success > div > blockquote + blockquote {
	display: block;
}

div.form > div > span {
	line-height: 1;
}

div.form > div > blockquote {
	font-size: .9em;
	line-height: 1.35em;
}

div.form > div,
div.form > form,
div.form > form li {
	max-width: calc(960px + .5rem);
}

div.form,
div.form > form,
div.form > form li > div {
	position: relative;
}

div.form > form ul.hide,
div.form > form ol.hide {
	display: none;
}

div.form > form ul:not(.hide),
div.form > form ol:not(.hide) {
	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	padding: 0;
	margin: 0;
	list-style: none;
}

div.form > form li {
	display: block;
	flex-grow: 1;
	-webkit-flex-grow: 1;
	-ms-flex-grow: 1;
	min-width: 240px;
	padding: inherit;
	margin: inherit;
	background-color: inherit;
}

div.form > form li > div {
	position: relative;
	width: calc(100% - .5rem);
	min-height: 2.5em;
	margin: 0 0 .5rem 0;
}

div.form > form li > div.accent > span {
	display: inline-block;
	position: relative;
	top: 0.7em;
	font-size: 1.2em;
	white-space: nowrap;
}

div.form > form li > div.accent > span::before {
	position: absolute;
	bottom: calc(100% - .3em);
	right: 0;
	z-index: 10;
	font-weight: 400;
	font-family: "Roboto", Arial, Tahoma, Verdana, sans-serif;
	font-size: 0.7em;
	line-height: 1.2em;
	content: "обратная связь";
	white-space: nowrap;
}

div.form > form li > div.choose > input {
	cursor: pointer;
}

div.form > form li > div.choose::after,
div.form > form ul > li > div.required::after {
	position: absolute;
	top: 1px;
	right: 1px;
	z-index: 3;
	width: 1.2em;
	height: calc(2.5em - 2px);
	font-size: 1em;
	line-height: calc(2.5em - 2px);
	transform: scale(0.8);
}

div.form > form li > div.choose::after {
	font-family: "icomoon" !important;
	content: "\e903";
}

div.form > form ul > li > div.required::after {
	font-weight: 700;
	font-family: Arial, Tahoma, Verdana, sans-serif;
	content: "\273b";
}

div.form > form li > div > textarea {
	height: 100%;
	min-height: 8.125em;
	padding-top: .7em;
	padding-bottom: .7em;
	resize: none;
}

div.form > form li > div > textarea,
div.form > form li > div > input[type=text],
div.form > form li > div > input[type=email],
div.form > form li > div > input[type=tel] {
	display: block;
	position: relative;
	z-index: 2;
	width: 100%;
	padding-right: 2em;
	padding-left: 1em;
	background-color: rgba(255, 255, 255, 0);
}

div.form > form li > div > input[type=text],
div.form > form li > div > input[type=email],
div.form > form li > div > input[type=tel] {
	height: 3.125em;
	padding-top: 0;
	padding-bottom: 0;
	line-height: calc(3.125em - 2px);
}

div.form > form li > div > textarea,
div.form > form li > div > input[type=text],
div.form > form li > div > input[type=email],
div.form > form li > div > input[type=tel],
div.form > form li > div > textarea + span,
div.form > form li > div > input[type=text] + span,
div.form > form li > div > input[type=email] + span,
div.form > form li > div > input[type=tel] + span {
	font-size: .8em;
}

div.form > form li > div > textarea + span,
div.form > form li > div > input[type=text] + span,
div.form > form li > div > input[type=email] + span,
div.form > form li > div > input[type=tel] + span {
	display: block;
	position: absolute;
	top: .875em;
	left: 1em;
	z-index: 1;
	transform: scale(1, 1);
	white-space: nowrap;
	transition: transform .3s ease;
	line-height: 1.25em;
}

div.form > form li > div > input[type=text]:focus + span,
div.form > form li > div > input[type=email]:focus + span,
div.form > form li > div > input[type=tel]:focus + span,
div.form > form li > div > input[type=text] + span.selected,
div.form > form li > div > input[type=email] + span.selected,
div.form > form li > div > input[type=tel] + span.selected,
div.form > form li > div > textarea:focus + span,
div.form > form li > div > textarea + span.selected {
	transform: scale(0, 0);
}

div.form > form li > div > button,
div.form > form li > div > button {
	position: relative;
	width: 100%;
	height: 3.125em;
	padding: 0 1.5em;
	margin: 0;
	border: 0;
	cursor: default;
	transition: all .3s ease;
	font-size: .8em;
	line-height: 3.125em;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
}

div.form > form li > div.consent > span.checkbox,
div.form > form li > div > button.active {
	cursor: pointer;
}

div.form > form li > div.consent {
	padding-left: 2.5em;
	font-size: .8em;
	line-height: 1.375em;
}

div.form > form li > div.consent > span {
	display: block;
}

div.form > form li > div.consent > span.checkbox {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 1.5em;
	height: 1.5em;
}

div.form > form li > div.consent > span.checkbox.checked::before {
	position: absolute;
	content: "";
	top: calc(50% - 0.25em);
	left: calc(50% - 0.25em);
	z-index: 20;
	width: .5em;
	height: .25em;
	border-left: solid 2px rgba(255, 255, 255, 1);
	border-bottom: solid 2px rgba(255, 255, 255, 1);
	content: "";
	transform: rotate(-45deg);
}

div.form > form li > div.consent > input[type=checkbox] {
	display: none;
}

/* ВЕБ-форма -- конец */

@media (min-width : 1201px) {
	div.form > div > span.accent {
		font-size: 1.8em;
	}
}

@media (min-width : 961px) and (max-width : 1200px) {
	div.form > div > span.accent {
		font-size: 1.7em;
	}
}

@media (min-width : 721px) and (max-width : 960px) {
	div.form > div > span.accent {
		font-size: 1.6em;
	}
}

@media (min-width : 481px) and (max-width : 720px) {
	div.form > div > span.accent {
		font-size: 1.5em;
	}
}

@media (max-width : 480px) {
	div.form > div > span.accent {
		font-size: 1.4em;
	}
}
