@charset "UTF-8";

header {
	z-index : 120;
	width : 100%;
	padding : 0.5rem 0;
	background-color: rgba(255, 255, 255, 1);
	box-shadow : 0 1px 5px 0 rgba(0, 0, 0, 0.05);
	}
	
header::after {
	position : absolute;
	left : 0;
	bottom : 0;
	z-index : 10;
	background-color: rgba(235, 235, 235, 1);
	content : "";
	}

header > div > a.logo,
header > div > a.logo > span {
	display : block;
	}

header > div > a.logo {
	width : 9em;
	height : 2em;
	margin : 0 auto;
	}

header > div > a.logo > span {
	width : 100%;
	height : 100%;
	background-repeat : no-repeat;
	background-size : contain;
	}
	
header > div > a.logo > span {
	background-position : 0 50%;
	background-image : url("../img/logo.small.svg?091020191529");
	}
	
@media (min-width : 961px) {
	header {
		position : absolute;
		top : 0;
		right : 0;
		max-width : 2.5em;
		height : 100%;
		}
		
	header::after {
		width : 1px;
		height : 100%;
		}
		
	header > div {
		display : none;
		}
	}

@media (max-width : 960px) {
	header {
		position : relative;
		}
		
	header::after {
		width : 100%;
		height : 1px;
		}
		
	header > div {
		width : calc(100% - 2.5em);
		}
	}