@charset "UTF-8";

div.container > div.workspace {
	display : flex;
	height : 100%;
	overflow : hidden;
	}
	
div.container > div.workspace > div {
	position : relative;
	height : 100%;
	min-width : 2.5em;
	overflow : visible !important;
	}

div.container > div.workspace > div.aside {	
	z-index : 10;
	background-color : rgba(252, 252, 252, 1);
	box-shadow : 0 1px 5px 0 rgba(0, 0, 0, 0.05);
	}
	
div.container > div.workspace > div.aside::after {
	position : absolute;
	left : 100%;
	bottom : 0;
	z-index : 10;
	height : 100%;
	width : 1px;
	background-color: rgba(235, 235, 235, 1);
	content : "";
	}
	
div.container > div.workspace > div.article {
	flex : 1;
	max-width : 100%;
	background-color : rgba(255, 255, 255, 1);
	}
	
div.container > div.workspace > div > div.box {
	position : inherit;
	width : 100%;
	height : 100%;
	overflow : hidden;
	}

/* resizable -- начало */
	
div.container > div.workspace > div.aside > div.ui-resizable-handle {
	position : absolute;
	display : block;
	/* добавить комментирование ниже, если нужен resizable */
	right : 0;
	top : 0;
	height : 100%;
	/* добавить комментирование выше, если нужен resizable */
	}
	
/* убрать комментирование ниже, если нужен resizable */
/* div.container > div.workspace > div.aside > div.ui-resizable-disabled .ui-resizable-handle, 
div.container > div.workspace > div.aside > div.ui-resizable-autohide .ui-resizable-handle { 
	display : none; 
	}
	
div.container > div.workspace > div.aside > div.ui-resizable-e {
	cursor : ew-resize;
	width : 4px;
	height : 100%;
	right : -2px;
	top : 0;
	background-color: rgba(100, 100, 100, 1);
	} */
/* убрать комментирование выше, если нужен resizable */
	
div.container > div.workspace > div.aside > div.ui-resizable-handle > ul {
	display : flex;
	position : absolute;
	top : calc(50% - 1.25em);
	right : calc(50% - 1.25em);
	z-index : 90;
	width : 2.5em;
	height : 2.5em;
	padding : 0;
	margin : 0;
	border-radius : 50%;
	list-style : none;
	overflow : hidden;
	background-color : rgba(255, 255, 255, 1);
	box-shadow : 0 1px 5px 0 rgba(0, 0, 0, 0.05);
	transition : all .25s ease;
	}
	
div.container > div.workspace > div.aside > div.ui-resizable-handle > ul::after {
	z-index : 1;
	background-color : rgba(105, 155, 245, 0.75);
	}

div.container > div.workspace > div.aside > div.ui-resizable-handle > ul::after,
div.container > div.workspace > div.aside > div.ui-resizable-handle > ul::before {
	display : block;
	position : absolute;
	top : calc(50% - 1.25em);
	left : calc(50% - 1.25em);
	width : 100%;
	height : 100%;
	border-radius : 1.25em;
	content : "";
	transition : all .25s ease;
	}
	
div.container > div.workspace > div.aside > div.ui-resizable-handle > ul::before {
	z-index : 2;	
	background-color : rgba(50, 90, 150, 0.5);
	transform : scale(0);
	opacity : 0;	
	}
	
div.container > div.workspace > div.aside > div.ui-resizable-handle > ul:hover::before {
	transform : scale(1);
	opacity : 1;
	}
	
div.container > div.workspace > div.aside > div.ui-resizable-handle > ul > li {
	position : relative;
	z-index : 3;
	width : 100%;
	height : 100%;
	cursor : pointer;
	}

div.container > div.workspace > div.aside > div.ui-resizable-handle > ul > li::before,
div.container > div.workspace > div.aside > div.ui-resizable-handle > ul > li::after {	
	position : absolute;
    left : calc(50% - 1px);
    z-index : 10;
    width : 2px;
    height : 0.5em;
    content : "";
    /* background-color : rgba(105, 155, 245, 1); */
    background-color : rgba(255, 255, 255, 1);
    transition : all .25s ease;
    }
    
div.container > div.workspace > div.aside > div.ui-resizable-handle > ul > li::before {
	top : calc(50% - 1px);
	}
	
div.container > div.workspace > div.aside > div.ui-resizable-handle > ul > li::after {
	bottom : calc(50% - 1px);
	}
	
div.container > div.workspace > div.aside.min > div.ui-resizable-handle > ul > li::before {
	transform : rotate(35deg);
	}
	
div.container > div.workspace > div.aside.min > div.ui-resizable-handle > ul > li::after {
	transform : rotate(-35deg);
	}
	
div.container > div.workspace > div.aside.max > div.ui-resizable-handle > ul > li::before {
	transform : rotate(-35deg);
	}
	
div.container > div.workspace > div.aside.max > div.ui-resizable-handle > ul > li::after {
	transform : rotate(35deg);
	}
	
/* resizable -- конец */
/* scrollbar -- начало */

div.container > div.workspace > div > div.box > div.baron {
	position : relative;
	overflow : hidden;
    width : calc(100% + 2.5em);
    height : 100%;
	}
	
div.container > div.workspace > div > div.box > div.baron > div.baron__scroller {
    width : 100% !important;
    max-width : 100% !important;
    padding : 0 2.5em 0 0 !important;
    margin : 0 !important;
    height : 100%;
    overflow-y : scroll;
    -ms-overflow-style : none;
    -webkit-overflow-scrolling : touch;
    /* remove line to customize scrollbar in iOs */
	}
	
div.container > div.workspace > div.aside > div.box > div.baron > div.baron__scroller {
	min-width : 13.5em !important;
	}
	
div.container > div.workspace > div.aside > div.box > div.baron > div.baron__scroller::before, 
div.container > div.workspace > div.aside > div.box > div.baron > div.baron__scroller::after {
	position : absolute;
    left : 0;
    z-index : 10;
    width : 100%;
    height : 0.5rem;
    content : "";
	}
	
div.container > div.workspace > div.aside > div.box > div.baron > div.baron__scroller::before {
    top : 0;
    background-image : linear-gradient(to top,
    	rgba(252, 252, 252, 0) 0%,
    	rgba(252, 252, 252, 0.5) 50%,
    	rgba(252, 252, 252, 1) 100%);
    }
    	
div.container > div.workspace > div.aside > div.box > div.baron > div.baron__scroller::after {
    bottom : 0;
    background-image : linear-gradient(to bottom,
    	rgba(252, 252, 252, 0) 0%,
    	rgba(252, 252, 252, 0.5) 50%,
    	rgba(252, 252, 252, 1) 100%);
    }
	
div.container > div.workspace > div > div.box > div.baron > div.baron__scroller::-webkit-scrollbar {
    width : 0;
    height : 0;
	}

div.container > div.workspace > div > div.box > div.baron > div.baron__track {
    display : none;
    position : absolute;
    top : 0;
    right : 2.5em;
    bottom : 0;
    z-index : 10;
	}
	
div.container > div.workspace > div > div.box > div.baron._scrollbar > div.baron__track {
    display : block;
	}
	
div.container > div.workspace > div > div.box > div.baron > div.baron__track > div.baron__bar {
    display : none;
    position : absolute;
    right : 0;    
    z-index : 1;
    width : 2px;
	}
	
div.container > div.workspace > div > div.box > div.baron._scrollbar > div.baron__track > div.baron__bar {
    display : block;
    opacity : 0;
    transition : opacity .5s ease;
	}
	
/* scrollbar -- конец */
	
div.container > div.workspace > div > div.box > div.baron > div.baron__scroller > ul {
	display : flex;
	flex-direction : column;
	width : 100%;
	min-height : 100%;
	padding : 0;
	margin : 0;
	list-style : none;
	}

div.container > div.workspace > div.aside > div.box > div.baron > div.baron__scroller > ul > li:first-child {
	display : flex;
	}
	
div.container > div.workspace > div > div.box > div.baron > div.baron__scroller > ul > li:first-child {
	position : relative;
	flex : 1;
	}
	
div.container > div.workspace > div.article > div.box > div.baron > div.baron__scroller > ul > li:first-child {
	font-size : 0.8em;
	line-height : 1.375em;
	}
	
@media (min-width : 1201px) {
	div.container > div.workspace {
		width : calc(100% - 2.5em);
		}
	
	div.container > div.workspace > div.aside {
		width : 30%;
		max-width : 30%;
		}
		
	div.container > div.workspace > div.aside > div.box > div.baron {
		max-height : calc(100% - 7em - 2.5rem);
		}
		
	div.container > div.workspace > div.article > div.box > div.baron > div.baron__scroller {
    	min-width : calc((1200px - 2.5em) - (1200px - 2.5em)*0.3) !important;
		}
	}
	
@media (min-width : 961px) and (max-width : 1200px) {
	div.container > div.workspace {
		width : calc(100% - 2.5em);
		}
		
	div.container > div.workspace > div.aside {
		width : 30%;
		max-width : 30%;
		}
		
	div.container > div.workspace > div.aside > div.box > div.baron {
		max-height : calc(100% - 7em - 2.5rem);
		}
		
	div.container > div.workspace > div.article > div.box > div.baron > div.baron__scroller {
    	min-width : calc((960px - 2.5em) - (960px - 2.5em)*0.3) !important;
		}
	}

@media (min-width : 721px) and (max-width : 960px) {
	div.container > div.workspace {
		width : 100%;
		max-height : calc(100% - 2em - 1rem);
		}

	div.container > div.workspace > div.aside {
		width : 0;
		max-width : 100%;
		}
		
	div.container > div.workspace > div.aside > div.box > div.baron {
		max-height : calc(100% - 2.5em - 1.5rem);
		}
		
	div.container > div.workspace > div.article > div.box > div.baron > div.baron__scroller {
    	min-width : 720px !important;
		}
	}
		
@media (min-width : 481px) and (max-width : 720px) {
	div.container > div.workspace {
		width : 100%;
		max-height : calc(100% - 2em - 1rem);
		}

	div.container > div.workspace > div.aside {
		width : 0;
		max-width : 100%;
		}
		
	div.container > div.workspace > div.aside > div.box > div.baron {
		max-height : calc(100% - 2.5em - 1.5rem);
		}
		
	div.container > div.workspace > div.article > div.box > div.baron > div.baron__scroller {
    	min-width : 480px !important;
		}
	}
	
@media (max-width : 480px) {
	div.container > div.workspace {
		width : 100%;
		max-height : calc(100% - 2em - 1rem);
		}
		
	div.container > div.workspace > div.aside {
		width : 0;
		max-width : 100%;
		}
		
	div.container > div.workspace > div.aside > div.box > div.baron {
		max-height : calc(100% - 2.5em - 1.5rem);
		}
		
	div.container > div.workspace > div.article > div.box > div.baron > div.baron__scroller {
    	min-width : 320px !important;
		}
	}